/*Setting width to border-box using box-sizing*/

*,
*:before,
*:after
{
    box-sizing: border-box;
}

/*container styling*/

.container{
    margin:0 auto;
    padding:0 30px;
    width: 960px;
}

/*margin for typography*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

/*button styles*/

.btn{
    border-radius: 5px;
    margin: 0;
    display:inline-block;
}

.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}

.hero{
    padding: 22px 80px 66px 80px;
}


/*Clear-fix */
.group{
    clear:both;
}

.group::after{
    clear: both;
}

.logo{
    float: left;
    border-top: 4px solid #648880;
    padding: 40px 0 22px 0px;
}

.primary-footer small{
    float:left;
}

.primary-footer{
    padding: 44px 0;
}